name: CI/CD Universidad
on: [push, pull_request, workflow_dispatch]

jobs:
  build-exe:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Install runtime
        run: pip install PySide6 PySide6_Addons PySide6_Essentials shiboken6 Pillow pyinstaller reportlab PyYAML
      - name: Build EXE con BD
        run: |
          pyinstaller --onefile --windowed --add-data "univer.db;." --name "Gestor-Universidad" main.py
      - name: Upload EXE + BD
        uses: actions/upload-artifact@v4
        with:
          name: Gestor-Universidad
          path: |
            dist/Gestor-Universidad.exe
            dist/univer.db
